

  body {
  background-color: rgb(70, 167, 241);
}

html {
  scroll-behavior: smooth;
}

#header {
  height: 70px;
  background-color: aliceblue;
}

.button{
  transition-duration: 0s;
}

.b1,
.b2,
.b3 {
  transition-duration: 0s;
  margin-left: 1790px;
  background-color: bisque;
  padding: 10px, 24px;
  border-radius: 15px;
  border: 2px solid rgb(62, 62, 62)
}

.AboutMe,
.Work,
.Contact {
display: flex;
text-align: center;
font-size: 25px;
font-style: italic;
font-family: cursive;
margin-left: 200px;
}

.topheader {
background-color: bisque;
text-align: right;
border-radius: 40px;
}

.paragraph{
  font-size: 35px;
  font-style: italic;
  font-family: cursive;
  display: flex;
  color: rgb(62, 62, 62);
  width: fit-content;
  height: 500px;
  margin: right;
} 

.greeting {
font-size: 35px;
font-style: italic;
font-family: cursive;
display: flex;
color: rgb(62, 62, 62);
width: 600px;
height: 200px;
margin: right;
}

h1 {
  padding-top: 70px;
  font-size: 45px;
  font-family: cursive;
  background-color: beige;
  margin: right;
  font-style: italic;
  color: rgb(62, 62, 62);
}

h2 {
  font-size: 45px;
  font-family: cursive;
  background-color: rgb(70, 167, 241);
  font-style: italic;
  color: rgb(62, 62, 62);
}

.cs,
.bh {
  font-size: 35px;
  font-family: cursive;
  font-style: italic;
}

.img {
  width: 400px;
  padding: 20px;
  float: left;
}

.img2{
  width: 550px;
}

.img3 {
  width: 650px;
}


#work {
  clear: both;
}

.p2 {
  font-size: 25px;
  font-family: cursive;
  color: rgb(62, 62, 62);
}
